
<div class="row">
    <div class="title">
        <input type="checkbox" [checked]="item.completed">
        {{item.title | uppercase}} <!--el | ayuda a aplicar una funcion a nuestros valores-->

    </div>
    <div class="price">
        {{item.price | currency}} <!--el | aplica el signo $-->

    </div>
    <div class="quantity">
        {{item.quantity}}

    </div>
    <div class="total">
        {{(item.price * item.quantity) | currency}}

    </div>
    <div class="actions">
        <button (click)="onDelete(item)">Eliminar</button>
    </div>

</div>
